.imgresponsive {
  width:auto;
  height: 600px; /* ajusta la altura según tus necesidades */
  overflow: hidden;
}

.imgresponsive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}